#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btnContainer{
    text-align: center;

}

.btns{
    padding: 10px 20px;
    font-size: 1.5em;
    color: aqua;
    background-color: blueviolet;
    cursor: pointer;
    transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -ms-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
}

.btns:hover{
    background-color: darkblue;
}