#container{
    text-align: center;
    background-color: rgb(255, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#btn:hover{
    background-color: #b8b9e2;
}
#btn:active{
    background-color: #0004df;
}

#pw {
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.799);
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  #btn {
    background-color: #0004ee;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 32px;
    margin: 0 auto;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

label{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center; 
}